.main {
  padding-bottom: 40px;
  justify-content: center; /* Centraliza verticalmente */
  display: flex; /* Centraliza horizontalmente */
  flex-direction: column; /* Centraliza horizontalmente */

  background-image: url(../../public/images/background.png);
}

.top {
  display: flex; /* Mantém  a tag em uma única linha */
  justify-content: space-between; /* Cria um espaçamento entre a logo e a nav bar */
  flex-wrap: wrap;
  align-items: center; /* Posiciona tudo ao centro da tela */
  height: 10vh; /* Altura da nav bar */
  padding-left: 200px; /* espaçamento de 5% para a esquerda */
  padding-right: 200px; /* espaçamento de 5% para a direita */
}

.middle {
  display: flex; /* Centraliza horizontalmente */
  flex-direction: column; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza horizontalmente */
}

.userIcon {
  color: black;
}

.box {
  width: 40em;
  background-color: #D08C1D;
  color: white;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.parteDeBaixo {
  flex-direction: row;
}

.parteDeCima {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.normal, .extra {
  margin-top: 20px;
}